/* Insert your styles here */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body
{
	margin: 0;
	background: rgb(65, 65, 65);
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

/* Makes the html / webpage as tall or taller as the browser window */
html
{
    scroll-behavior: smooth;
    min-height:100vh;
}
  
/* Makes the body as tall or taller as the browser window, less html element's padding */
body
{
    min-height:calc(100vh - 2 * 20px);
}

/*Styling fr the header*/
header
{
  background-color: #009879;
    height: 150px;
    
}

header img
{
    float: left;
    padding-left: 20px;
}

header div
{
    margin-left: 200px;
    padding-top: 55px;
    font-size: 30px;
}

/*Stylng for the nav bar*/
nav
{
    position: sticky;
    top: 0;
    background: #55d6aa;
    z-index: 5000;
}


nav ul
{
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
nav li
{
    display: inline-block;
    margin-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
  
nav a
{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
  }
  
  nav a:hover
  {
    color: #000;
  }
  
  nav a::before
  {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before
  {
    width: 100%;
  }


  /*Styling for About Us + Parallax*/
  .pimg1, .pimg2, .pimg3, .pimp4, .pimp5{
    position: relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment:fixed;
  }
  
  .pimg1{
    background-image:url('./resources/media/cinema1.jpg');
    min-height:700px;
  }
  
  .pimg2{
    background-image:url('./resources/media/cinema2.jpg');
    min-height:400px;
  }
  
  .pimg3{
    background-image:url('./resources/media/luxchair.jpg');
    min-height:400px;
  }

  .video-Dolby{
    width: 85%;
  }

  .pimg5{
    background-image:url('./resources/media/cinemaprices.jpg');
    min-height:600px;
  }
  
  .section{
    text-align:center;
    padding:50px 80px;
  }
  
  .section-light{
    background-color:#f4f4f4;
    color:#666;
  }
  
  .section-dark{
    background-color:#282e34;
    color:#ddd;
  }
  
  .ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
  }
  
  .ptext .border{
    background-color:#111;
    color:#fff;
    padding:20px;
  }
  
  .ptext .border.trans{
    background-color:transparent;
  }

  /*Styling for Prices*/
  .content-prices {
    border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;
    font-size: 1.1em;
    width: 85%;
    height: 500px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-prices thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    width: 100px;
  }
  
  .content-prices th,
  .content-prices td {
    padding: 12px 15px;
  }
  
  .content-prices tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-prices tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  .content-prices tbody tr:nth-of-type(odd) {
    background-color: #d4d4d4;
  }
  
  .content-prices tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-prices tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }

  /*Styling for Now Showing*/
  .flexbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .flexbox-item{
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 640px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #d4d4d4;
  }

.flexbox-pictures1, .flexbox-pictures2, .flexbox-pictures3, .flexbox-pictures4
{
  float: left;
  margin-top: 20px;
  margin-left: 5px;
}

.flexbox-items-body{
  float: right;
  height: 640px;
  width: 440px;
}
  .flex-header{
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
    background-color: green;
  }

  .btn-group-2 button {
    width: 150px;
    height: 50px;
    margin-left: 150px;
    margin-top: 10px;
    background-color: #55d6aa;
    border: 2px solid green;
    border-radius: 5px;
    padding: 10px 24px;
    vertical-align: middle;
  }

  /*Styling for Synopsis*/
  .synopsis-content{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 700px;
    border: 2px solid;
    background-color: #f3f3f3;
  }

  .synopsis-video{
    float: right;
    margin-top: 50px;
    border: 2px solid #444;
  }

  .synopsis-plot
  .synopsis-booking{
    float: left;
  }
  
  .synopsis-plot h2{
    position: relative;
    background-color: #009879;
    padding: 10px;
    margin-left: -10px;
    border-bottom: 2px solid;
  }

  .synopsis-plot{
    margin-top: -20px;
    padding-left: 10px;
  }

  .synopsis-plot h3
  {
    padding: 10px;
    margin-left: -10px;
    margin-top: -20px;
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
    background-color: #bebebe;
  }
  
  .synopsis-booking{
    margin-top: 350px;
    padding-left: 10px;
  }

  .synopsis-booking h2{
    padding: 10px;
    margin-left: -10px;
    margin-top: -24px;
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
    background-color: #bebebe;
  }

  .btn-group button {
    margin: 3px;
    background-color: #55d6aa;
    border: 2px solid green;
    border-radius: 5px;
    padding: 10px 24px;
    cursor: pointer;
    float: left; 
  }
  
  /* Clear floats*/
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }

  /*Footer style*/
  footer
  {
    margin-top: 400px;
    padding: 10px;
    clear: both;
    top: 0;
    background: #14c78b;
  }  